@model SistemaAgendaCitas.Models.ViewModels.EditCitaViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Cita</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label>Cliente</label>
                <input class="form-control" value="@Model.ClienteNombre" disabled />
            </div>
            <div class="form-group">
                <label>Servicio</label>
                <input class="form-control" value="@Model.ServicioNombre" disabled />
            </div>


            <div class="form-group">
                <label asp-for="Fecha"></label>
                <input asp-for="Fecha" class="form-control" type="date" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Hora"></label>
                <input asp-for="Hora" class="form-control" type="time" />
                <span asp-validation-for="Hora" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Estado"></label>
                <select asp-for="Estado" class="form-control"
                        asp-items="Html.GetEnumSelectList<EstadoCita>()">
                </select>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Comentarios"></label>
                <textarea class="form-control" readonly>@Model.Comentarios</textarea>
            </div>


            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
